{% extends "quotes/base.html" %}
{% load staticfiles %}


{% block body %}
    <div class = "container-fluid">
        <div class="row">
            <div class = "col-xs-12 text-center well well-lg" id="top-well">
                <div class="container">
                    <div class="col-xs-3">
                        <img id="wrench" src="{% static "images/wrench-rotated.png" %}" />
                    </div>
                    <div class="col-xs-6">
                        <h2>10 Years of experience making dreams come true!</h2>
                    </div>

                    <div class="col-xs-3">
                        <img id="hammer" src="{% static "images/hammer-smaller.png" %}" />
                    </div>
                </div>
            </div>
        </div>   
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h2 class="panel-title">Services We Offer</h2>
                    </div>

                    <div id="service-desc" class="panel-body">
                        <dl class="dl-horizontal">
                            <dt>Plumbing:</dt>
                                <dd>
                                    Installation<br>
                                    Repair<br>                                    
                                </dd>
                            <dt>Construction:</dt>
                                <dd>                                    
                                    Roofing<br>
                                    Tiling<br>
                                    Additions<br>
                                    Design<br>
                                </dd>
                        </dl>
                    </div>                
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h2 class="panel-title">Testimonials</h2>
                    </div>                
                    <div class="panel-body text-center testimonials">
                        <div>
                            <p>"We love Carlos, he helped us plan and build a beautiful deck on our new home. So Amazing!"</p>
                            <h5>-Marjorie Jones</h5>
                        </div>
                        <div>
                            <p>"I feel like SCCS is a part of my family. I will always call them for any work that needs doing. A+++"</p>
                            <h5>-Mrs Mary Mack</h5>
                        </div>
                    </div>                
                </div>
            </div>

            <div id="body-content" class="col-md-9">
                <h2 class="text-left">Southern Californias premier construction company</h2>
                <p>                    
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque molestie pellentesque ultrices. Donec vel urna a ante pellentesque blandit. In lobortis ipsum libero, quis vehicula nibh ultrices vel. Duis posuere risus sit amet tortor dapibus aliquet. Vestibulum nec posuere ligula. Duis congue, libero sit amet accumsan consectetur, felis orci fringilla dui, at accumsan nisi sapien ac tellus. Cras sed fermentum purus, at mollis neque. Nulla id tortor non lectus facilisis elementum. Praesent sed enim adipiscing, tincidunt urna eu, volutpat mi. Curabitur in ante rutrum, pharetra tortor fringilla, consequat mi. Donec sed nibh interdum, egestas dui a, fermentum nulla. Vestibulum cursus lacus a vestibulum iaculis. Curabitur a ante lorem. Quisque sed fermentum arcu, in pretium nunc.<br><br>

                Morbi dolor libero, ultrices vitae nunc quis, lobortis varius nulla. Donec leo diam, iaculis ac nibh bibendum, egestas lobortis risus. Etiam scelerisque lorem felis, vel interdum justo malesuada non. Duis elementum nibh adipiscing feugiat mattis. Integer mollis convallis ipsum, a hendrerit elit convallis et. Maecenas at augue congue justo auctor congue sed viverra nibh. Curabitur vitae purus vitae mi placerat ultricies ornare nec nulla. Proin tristique nibh nisl, in semper magna auctor eget. Nam cursus viverra dolor nec consequat. Maecenas in orci at urna facilisis sagittis. Praesent lectus metus, ultricies vitae pharetra ac, sagittis consectetur ligula. Maecenas eget diam ut purus placerat varius quis in eros. Sed gravida orci tristique, tincidunt tortor sit amet, ultrices ante. Morbi imperdiet purus eget tristique molestie.<br><br>

                Mauris posuere tellus ut magna volutpat tempor. Curabitur at metus at massa facilisis eleifend vitae sit amet dui. Praesent ultricies ornare orci, ut vestibulum tellus pulvinar vitae. Nulla ultricies metus vel eleifend posuere. Sed in molestie tellus. Vivamus tortor metus, imperdiet at ligula ac, eleifend sodales dolor. Donec sodales felis vitae sagittis convallis. Proin in semper magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla vitae tempus lorem, in luctus nunc. Nam ante dui, porta ac est a, ornare ultricies felis. Phasellus fermentum sollicitudin ornare. Proin vel mollis erat. Pellentesque et feugiat elit, eget interdum ipsum. Etiam risus mauris, venenatis quis tristique eget, accumsan eu ipsum. Proin interdum faucibus feugiat.<br><br>

                Praesent sodales turpis at dolor tincidunt, id venenatis nisl ultrices. Praesent at massa nec dolor interdum posuere. Suspendisse at mauris nisi. Mauris molestie tincidunt ipsum at sagittis. Nunc rhoncus, sem ac mattis malesuada, risus tortor laoreet enim, in iaculis lacus leo at ligula. Nunc sed venenatis mi, quis aliquam magna. Morbi tincidunt eros ac tellus porttitor, id scelerisque diam commodo. In bibendum hendrerit neque, eget ullamcorper elit lacinia in. Nunc suscipit velit vitae quam tempor, quis volutpat turpis ultrices. Pellentesque interdum commodo tempor. Mauris non quam nec felis ullamcorper aliquet. Aenean metus tortor, tincidunt sit amet volutpat ac, convallis a orci. Ut et diam ac nunc ultrices hendrerit eget vel tortor. Sed posuere felis a lacus sagittis tincidunt. Integer sit amet fringilla nisl.<br><br>

                Quisque fringilla sed sem at fermentum. Pellentesque tortor nulla, gravida eget leo quis, cursus aliquam dolor. Pellentesque ultrices lacus nec quam viverra bibendum. Pellentesque vel viverra lacus. In ac venenatis quam. Ut vitae iaculis lorem, eget ultrices justo. Integer sodales tincidunt tempor. Proin odio ipsum, vestibulum ac ullamcorper sollicitudin, dignissim sed risus. Nullam quis ipsum in enim malesuada lobortis sodales a sem. Nullam non ante ultricies, dignissim sapien a, faucibus magna. Pellentesque mollis elementum sapien, aliquet elementum metus gravida malesuada. Nullam laoreet nunc velit, consequat porttitor libero vestibulum eget. Cras sagittis ornare nibh non congue. Morbi sit amet diam et augue auctor dapibus at at sem. Integer dui nisi, varius ut consectetur et, congue sit amet ante. <br><br>
                </p>
            </div>
        </div>
    </div>

{% endblock %}

