{% extends "quotes/index.html" %}
{% load staticfiles %}
{% load custom_filters %}

{% block extra_js %}<script src="{% static "js/submit.js" %}"></script>{% endblock %}

{% block content %}
    <div id="meat" class="row">
        <form id="quoteForm" class="form-horizontal" role="form-inline" action ="{{ action }}" method="POST">            
            {% csrf_token %}
            {% for field in form %}                
                <div class="form-group text-center">                    
                    <label for="{{ field.id_for_label }}" class="col-xs-4 control-label">{{ field.label }}</label>
                    <div class="col-xs-4">{{ field|addcss:"form-control" }}</div>
                    {% if field.label == "E-Mail" or field.label == "First Name" or field.label == "Comments" or field.label == "Last Name" %}
                        <div class="col-xs-2 text-left"><span style="color: red">*</span> Required
                        {% if field.label == "Comments" %}
                            <br><small>Tell us a bit about the job</small>
                        {% endif %}
                        </div>
                    {% endif %}                    
                </div>
            {% endfor %}
            <div class="text-center">
                <input id="submitButton" class="btn btn-primary" type="submit" value="Submit" />
            </div>
        </form>
    </div>
{% endblock %}