body { font-family: 'Merriweather', serif;  }

#title {    
    font-size: 70px;
    font-weight: 900;
}

.design-link {    
    padding: 40px;
}

.warning {
    padding: 15px;
    font-weight: 300;
    font-size: 25px;
    border-radius: 5px;
    margin-top: 50px;
    color: #666;
}